In [ ]:
# Analyzing Categorical Data from the General Social Survey in Python

In [ ]:
# Welcome to your webinar workspace! In this session, we will introduce you to categorical variables in Python.
We will be using a subset of data from the General Social Survey.

The following code block imports some of the main packages we will be using, which are pandas, NumPy, 
and Plotly. We will also use statsmodels for a special type of categorical plot.

We will read in our data and preview it as an interactive table. Please follow along with the code and 
feel free to ask any questions!

In [4]:
# Import packages
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
from statsmodels.graphics.mosaicplot import mosaic

# Read in csv as a DataFrame and preview it
df = pd.read_csv("gss_sub.csv")
df

,year,id,labor_status,self_employed,marital_status,n_siblings,age,high_school,degree,political_affiliation,environment,law_enforcement,drugs,space_exploration,inequality,household_size
0,1972.0,1.0,WORKING FULLTIME,SOMEONE ELSE,NEVER MARRIED,3.0,23.0,16.0,BACHELOR,"IND,NEAR DEM",IAP,IAP,IAP,IAP,NaN,1.0
1,1972.0,2.0,RETIRED,SOMEONE ELSE,MARRIED,4.0,70.0,10.0,LT HIGH SCHOOL,NOT STR DEMOCRAT,IAP,IAP,IAP,IAP,NaN,2.0
2,1972.0,3.0,WORKING PARTTIME,SOMEONE ELSE,MARRIED,5.0,48.0,12.0,HIGH SCHOOL,INDEPENDENT,IAP,IAP,IAP,IAP,NaN,4.0
3,1972.0,4.0,WORKING FULLTIME,SOMEONE ELSE,MARRIED,5.0,27.0,17.0,BACHELOR,NOT STR DEMOCRAT,IAP,IAP,IAP,IAP,NaN,2.0
4,1972.0,5.0,KEEPING HOUSE,SOMEONE ELSE,MARRIED,2.0,61.0,12.0,HIGH SCHOOL,STRONG DEMOCRAT,IAP,IAP,IAP,IAP,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59594,2014.0,2539.0,KEEPING HOUSE,SOMEONE ELSE,WIDOWED,6.0,89.0,14.0,JUNIOR COLLEGE,NOT STR REPUBLICAN,TOO LITTLE,TOO LITTLE,TOO LITTLE,IAP,NaN,1.0
59595,2014.0,2540.0,WORKING FULLTIME,SOMEONE ELSE,DIVORCED,3.0,56.0,12.0,HIGH SCHOOL,INDEPENDENT,TOO LITTLE,TOO LITTLE,TOO MUCH,IAP,NaN,1.0
59596,2014.0,2541.0,WORKING FULLTIME,SOMEONE ELSE,NEVER MARRIED,5.0,24.0,14.0,HIGH SCHOOL,"IND,NEAR DEM",TOO LITTLE,ABOUT RIGHT,ABOUT RIGHT,IAP,NaN,3.0
59597,2014.0,2542.0,WORKING FULLTIME,SOMEONE ELSE,NEVER MARRIED,2.0,27.0,13.0,HIGH SCHOOL,NOT STR DEMOCRAT,IAP,IAP,IAP,IAP,NaN,2.0
59598,2014.0,2543.0,WORKING PARTTIME,SOMEONE ELSE,WIDOWED,2.0,71.0,12.0,HIGH SCHOOL,"IND,NEAR REP",IAP,IAP,IAP,IAP,NaN,1.0